
# SERVER CONFIG
NODE_ENV=development
HOSTNAME="http://localhost"
PORT=5000
SESSION_SECRET="keyboard cat"
NEXTJS_ORIGIN="http://localhost"
NEXTJS_PORT=3000
# DATABSE CONFIG
PG_SUPER_USER=postgres
PG_SUPER_PASSWORD=example
PG_ADMIN_USER=jasma_admin
PG_ADMIN_PASSWORD=a
PG_HOST=localhost
PG_PORT=5432
PG_SUPER_DATABASE=postgres
PG_ADMIN_DATABASE=jasma_db
