node_modules
express/node_modules
next/node_modules
.git
express/.env
express/.env.example
next/.env.development
next/.env.production
next/.env.example
.env
.env.example
.env.development
.env.production
express/media/ads/*
express/media/avatars/*
express/media/comments/*
express/media/posts/*
express/media/users/*
