.chat-message-container {
    @apply w-full py-1.5 px-1  flex flex-col rounded-md gap-2 items-start break-words;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

.chat-message-body {
    @apply w-full flex gap-1 text-black;
}

.chat-message-body h3 {
    @apply text-sm font-bold;
}

.chat-text-frag {
    overflow-wrap: anywhere;
}
.chat-message-body p {
    @apply text-sm font-normal;
}

.chat-timestamp {
    @apply font-semibold text-black text-xs;
}

.chat-input-container {
    @apply flex items-center w-full;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

/* .chat-input-container input {
    @apply bg-white text-black text-sm  h-full;
    width: 90%;
} */

.chat-input-field {
    @apply bg-stream-dark-bg-600 h-10 py-0.5 px-2 transition-shadow duration-200 shadow-lg w-full flex gap-1 items-center;
}

.chat-input-field > input {
    @apply bg-transparent p-1 w-full text-white;
}

.chat-input-field > input::placeholder {
    @apply text-white opacity-30 text-xs;
    letter-spacing: 0.05rem;
}

.chat-input-container button {
    @apply outline-none appearance-none bg-transparent h-5 w-5 transition-colors text-white opacity-80;
}

.chat-input-container button:focus-visible {
    @apply opacity-100;
}

.chat-input-container button > svg {
    @apply h-full w-full;
}

@media (hover: hover) {
    .chat-input-container button:hover {
        @apply opacity-100;
    }
}
