@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .labelDefault {
        @apply text-sm font-medium block mb-2;
    }
    .formButtonDefault {
        @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
    }
}

html,
body {
    @apply h-full w-full;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

:root {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
    --stream-light-bg-200: #faeaff;
    --stream-light-bg-300: #f4d7ff;
    --stream-light-bg-400: #efc3ff;
    --stream-dark-bg-800: #1c0026;
    --stream-dark-bg-700: #33153f;
    --stream-dark-bg-600: #472654;
    --stream-accent: #ff7f5c;
    --stream-additional: #62d2f5;
}

#__next {
    @apply h-full w-full;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
