/* Main container */

.media-wrapper {
    @apply absolute z-20 overflow-hidden w-full h-full;
}

.player-container {
    @apply w-full h-full bg-black outline-none overflow-hidden;

    transform: scale(1);
    transform-origin: center top;
}

.video-wrapper {
    @apply relative w-full h-full;

    /* padding-bottom: 25.25%; */
}

#video {
    @apply w-full h-full  top-0 left-0;
}

.top-curtain {
    @apply absolute top-0 w-full h-16 animate-fadeIn touch-auto select-none pointer-events-none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.fullscreen-curtain {
    @apply absolute top-0 left-0 w-full h-full bg-black opacity-30;
}

.control-panel-container {
    @apply absolute bottom-0 w-full  px-4 py-1.5 flex flex-col gap-1 transition-opacity duration-500;
    height: 5.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.video-center {
    @apply absolute top-1/2 left-1/2 z-20 w-max h-max touch-none select-none;
    transform: translate(-50%, -50%);
}

.video-left {
    @apply absolute top-0 right-1/2 w-1/2 h-full bg-transparent select-none pointer-events-none touch-none z-0;
}

.video-right {
    @apply absolute top-0 left-1/2 w-1/2 h-full bg-transparent select-none touch-none z-0 pointer-events-none;
}

/* Progress bar */

.progress-container {
    @apply flex flex-col gap-2 touch-none select-none;
}

.progress-time-wrapper {
    @apply flex justify-between items-center text-white;
}

.timemark {
    @apply text-sm;
}

.progress-line-wrapper {
    @apply relative w-full h-1;
}

.progress-line-wrapper > * {
    transition: height 0.15s ease-in-out;
}

.progress-line-container {
    @apply flex items-center w-full h-4 cursor-pointer;
}

.progress-line {
    @apply w-full h-1 absolute top-0 left-0 z-20;
    background-color: rgba(255, 255, 255, 0.2);
}

.progress-line-container-large > .progress-line-wrapper > *,
.progress-line-container:hover > .progress-line-wrapper > * {
    @apply h-2;
}

.progress-line-container:hover > .progress-line-wrapper > .progress-thumb {
    opacity: 1;
}

.progress-done {
    @apply h-1 bg-red-400 w-0 absolute top-0 left-0 z-10;
}

.progress-thumb {
    @apply w-3 h-3 rounded-full opacity-0 bg-white absolute left-0;
    bottom: -90%;
    z-index: 21;
}

.progress-line-container:hover > .progress-line-wrapper > .progress-thumb {
    opacity: 1;
}

.progress-preview {
    @apply h-1 bg-white w-0 absolute top-0 left-0 z-20 opacity-40;
}

/*  Controls Container */

.controls-container {
    @apply relative flex items-center justify-between;
}

.controls-left-container {
    @apply flex items-center gap-2;
}
.controls-right-container {
    @apply flex items-center gap-2;
}

.action-btn {
    @apply text-white w-7 h-7 flex items-center justify-center text-lg py-1 px-1 transition-colors 
    opacity-70 hover:opacity-100;
}

.action-btn svg {
    @apply w-full h-full;
}

.sound-container {
    @apply flex items-center gap-2;
}

.sound-container:hover > .volume-slider {
    opacity: 1;
}

.volume-slider {
    @apply appearance-none outline-none opacity-0 transition-opacity duration-300 cursor-pointer;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 0.25rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(248, 113, 113, 1), rgb(248, 113, 113, 1));
}
.volume-slider::-webkit-slider-runnable-track {
    @apply appearance-none outline-none border-none bg-transparent;
}
.volume-slider::-webkit-slider-thumb {
    @apply appearance-none outline-none rounded-full bg-white opacity-100 cursor-pointer;
    -webkit-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
}

.volume-slider::-moz-range-thumb {
    @apply appearance-none outline-none rounded-full bg-white opacity-100 cursor-pointer;
    -webkit-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
}

.volume-slider::-ms-range-thumb {
    @apply appearance-none outline-none rounded-full bg-white opacity-100 cursor-pointer;
    -webkit-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
}

/*  Settings menu */

.mobile-settings-wrapper {
    @apply w-full h-full absolute top-0 left-0 flex items-center justify-center z-50;
    background-color: rgba(0, 0, 0, 0.2);
}

.desktop-settings-wrapper {
    @apply absolute;
    right: 50%;
    bottom: 150%;
}

.settings-container {
    @apply relative place-content-baseline grid shadow-md;
}

.settings-menu-container {
    @apply rounded-lg z-30 text-white px-2 py-1.5;
    background-color: rgb(39, 39, 45);
    width: 15rem;
}

.settings-menu-container svg {
    @apply relative;
    top: 1px;
}

.settings-menu-header {
    @apply py-1.5;
}

.settings-menu-header button {
    @apply w-full flex px-2 py-1.5 items-center gap-1 justify-start rounded-sm transition-colors;
}

.settings-menu-header button span {
    @apply text-sm font-semibold;
}

.settings-menu-header button svg {
    @apply w-5 h-5;
}

.settings-menu-header button:hover {
    background-color: rgba(217, 217, 227, 0.2);
}

.settings-menu-separator {
    @apply h-0.5 w-full bg-white opacity-10;
}

.settings-menu-body {
    @apply py-2;
}

.settings-actions-container {
    @apply flex flex-col gap-2;
}

.settings-menu-button {
    @apply flex text-sm items-center justify-between py-1.5 px-1.5 transition-colors rounded-sm;
}

.settings-menu-button div {
    @apply flex  items-center gap-1;
}

.settings-menu-button div > svg {
    @apply w-3.5 h-3.5;
}

.settings-menu-button:hover {
    background-color: rgba(217, 217, 227, 0.2);
}

.option-settings-container {
    @apply flex flex-col gap-2;
}

.option-container {
    @apply flex items-center gap-2 text-sm font-semibold cursor-pointer;
}

.option-container input {
    @apply appearance-none flex items-center justify-center bg-transparent m-0 text-red-400 transition-all cursor-pointer;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgba(217, 217, 227, 0.2);
    border-radius: 50%;
    transform: translateY(-0.075em);
}

.option-container input::before {
    @apply transition-all bg-red-400 relative;
    content: "";
    width: 0.65em;
    left: 0.25px;
    top: 0.25px;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--form-control-color);
}

.option-container input:checked::before {
    transform: scale(1);
}

.option-container input:checked + label {
    @apply text-red-400 opacity-100;
}

.option-container input:focus-visible {
    outline: max(2px, 0.15em) solid rgb(248 113 113);
    outline-offset: max(2px, 0.15em);
}

.option-container label {
    @apply opacity-80 transition-colors hover:opacity-100 cursor-pointer;
}

/* Small UI Elements */

.on-air-sign {
    @apply flex gap-1 animate-fadeIn rounded-sm px-1.5 py-0.5 transition-colors w-min items-center bg-red-500 text-white 
    text-sm absolute top-5 right-5 font-bold;
}
.on-air-sign svg {
    @apply w-2 h-2;
}

.circle-wrapper {
    @apply w-16 h-16 rounded-full relative flex justify-center items-center animate-fadeIn;
    background-color: rgba(0, 0, 0, 0.4);
}

.volume-direction,
.seeking-direction {
    @apply flex flex-col items-center text-xs text-white gap-3 opacity-75;
}

.seeking-direction svg {
    @apply w-3 h-3;
}

.playstate {
    @apply flex items-center justify-center;
}

.playstate svg {
    @apply w-10 h-10 text-white opacity-75;
}

.ui-feedback {
    @apply animate-scaleAndFadeout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Media queries */

@screen sm {
    .circle-wrapper {
        @apply w-28 h-28;
    }

    .volume-direction {
        @apply text-lg;
    }
    .playstate svg {
        @apply w-14 h-14;
    }
    .seeking-direction svg {
        @apply w-5 h-5;
    }
}

@screen md {
    .settings-menu-container {
    }
}
