.chat-window {
    @apply flex-col flex grow shadow-md w-full h-full bg-white rounded-xl overflow-hidden;
    /* max-height: calc(100vh - 5rem); */
}
.chat-title {
    @apply text-sm font-bold text-center py-2;
}

@screen md {
    .chat-title {
        @apply text-base;
    }
}

.chat-header {
    @apply rounded-md  w-full h-10;
}

.chat-messages-layout {
    @apply flex flex-col justify-between w-full h-full;
}

.chat-message-list {
    @apply flex flex-col overflow-y-scroll overflow-x-hidden h-full items-start py-1.5 px-1 gap-1;
    max-height: 15rem;
    scrollbar-width: 4px;
}
.chat-message-list::-webkit-scrollbar {
    @apply w-1;
}
.chat-message-list::-webkit-scrollbar-thumb {
    @apply w-1 h-16 rounded-full bg-gray-400;
}

@screen md {
    .chat-message-list {
        max-height: 30rem;
    }
}
