.stream-video-wrapper {
    @apply w-full h-full relative;
    min-height: 15rem;
}

.stream-widget-container {
    @apply w-full h-full;
}

@screen sm {
    .stream-mobile-layout {
        @apply flex items-center;
    }
}

@screen md {
    .stream-video-wrapper {
        min-height: 20rem;
        max-height: 30rem;
    }
}
