.stream-widget-container {
    @apply w-full h-full;
}

.stream-mobile-layout {
    @apply flex flex-col  gap-2;
}

.stream-large-layout {
    @apply py-2 flex w-full h-full relative gap-1;
    transform-origin: center center;
}

/* video container */
.stream-mobile-layout > :first-child {
    @apply w-full sticky top-5 left-0 z-40;
}

.stream-mobile-layout > :last-child {
    @apply flex flex-col gap-5;
}

.stream-large-main > .stream-video-wrapper {
    @apply overflow-hidden w-full h-full;

    max-height: 30rem;
}

.stream-large-main {
    @apply w-full;
}

.stream-large-layout > :last-child {
    width: 25rem;
}

@screen sm {
    .stream-mobile-layout {
        @apply flex-row items-center;
    }

    .stream-mobile-layout > :last-child {
        @apply h-full gap-0;
        width: 32rem;
    }

    /* video container */
    .stream-mobile-layout > :first-child {
        @apply static;
    }
}
