# Server config
BASE_URL='http://localhost'
PORT=3001
NODE_ENV=development
SESSION_SECRET='thisisatemporarysecret'
# PostGreSQL config 
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=a
PG_DATABASE=jasmaDB
